<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://expath.org/ns/pkg" name="http://joewiz.org/ns/apps/punch" abbrev="punch" version="@project.version@" spec="1.0">
    <title>Punch</title>
    <dependency package="http://exist-db.org/apps/shared" semver-min="0.4.0"/>
</package>
